@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-200;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

.japanese_tokenizer_normal {
    font-family: "Sawarabi Mincho";
    @apply box-border;
}

.japanese_tokenizer {
    font-family: "Sawarabi Mincho";
    @apply box-content border-b border-x border-b-black hover:border-b-2;
}

.japanese_tokenizer_selected {
    font-family: "Sawarabi Mincho";
    @apply box-border border-b-2 border-b-black;
}